<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs') %>

<main>
    <%- include('../../includes/messages.ejs') %>

    <% if(orders.length > 0) { %>
        <ul class="orders">
            <% orders.forEach( order => { %>
                <li class="orders__item">
                    <h1>Order - # <%= order._id %></h1>
                    <ul class="orders__products">
                        <% order.items.forEach(item => { %>
                            <li class="orders__products-item"><%= item.product.title %> ( Qty : <%= item.quantity %> )</li>
                        <% }) %>
                    </ul>
                    <p><a href="/orders/invoice/<%= order._id %>">Invoice</a></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h1>No orders placed yet.</h1>
    <% } %>
</main>

<%- include('../../includes/end.ejs') %>