<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs') %>

<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <%- include('../../includes/mongodb/product-form.ejs', {product: product}) %>
        <input type="hidden" name="_csrf" value="<%= res.locals.csrfToken %>">
        <button class="btn" type="submit">Add Product</button>
    </form>
</main>
    
<%- include('../../includes/end.ejs') %>