<%- include('../../includes/head.ejs') %> <%-
include('../../includes/navigation.ejs') %>

<main>
  <%- include('../../includes/messages.ejs') %>

  <form class="product-form" action="/admin/edit-product?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
    <%- include('../../includes/mongodb/product-form.ejs', {product: product})
    %>

    <button class="btn" type="submit">Update Product</button>
  </form>
</main>

<%- include('../../includes/end.ejs') %>
