<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<main>
    <% if(cartProducts.length > 0) {  %>
        <ul class="cart__item-list">
            <% for(product of cartProducts) { console.log(product) %>
                <li class="cart__item">
                    <h1><%=product.title%></h1>
                    <h2>(Qty : <%= product.cartItem.quantity %> )</h2>
                    <form action="/removefromcart" method="post">
                        <input type="hidden" name="productId" value="<%=product.id%>">
                        <button class="btn" class="btn">Delete</button>
                    </form>
                </li>
            <% } %>
        </ul>
    <% } else  { %>
        <h1>Your Cart is Empty</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>