<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<main>
    <h1>Cart Page</h1>
    <% if(cart.items.length > 0) {  %>
        <ul>
            <% for(item of cart.items) {console.log(item)%>
            <li><%=item.product.title%> (Qty : <%=item.quantity%>)</li>
            <% } %>
        </ul>
        <h2>Total Price: $<%= cart.totalPrice %></h2>
    <% } else  { %>
        <h1>You Cart is Empty</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>